#profile-pic img{
    height: 15rem;
    border-radius: 100%;
    width: 40%;
    
}
#profile-pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profile-pic__buttons{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}