.welcomescreen{
    display: flex;
    flex-direction: column;
}
.welcomescreen_img{
    margin: auto;
    animation-name: go;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

  @keyframes go {
    50% {
      transform:
        translate(0px, -10px)
        scale(1.1);
        
    }
  }
.loginButtons{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    margin-top: 1rem;
}
.loginButtons div{
    margin: auto 1em;
}